@import '../variables.scss';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: $secondary-color;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba($card-shadow, 0.1);
  animation: fadeIn 0.3s ease-out;

  h2 {
    margin-top: 0;
    color: $text-color;
  }

  p {
    color: $subtext-color;
  }

  .close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: $text-color;

    &:hover {
      color: $primary-color;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}